.modal-fundo{    
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;   
    background-color: rgba(0, 0, 0, 0.514);
}
.titulo{
    text-align: left;
}
.fundo-modal2{
    background-color: #fff;
    position: fixed;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.descricao{
  padding-bottom: 1rem;
  border-bottom: #000 solid 1px;
}
.entregue{
  color: #ccc;
  padding-bottom: 1rem;
  border-bottom: #ccc solid 1px;
}
.cores{
  padding-bottom: 1rem;
  border-bottom: #000 solid 1px;
}
.tamanho{
  padding-bottom: 1rem;

}

.produto-modal{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;


}
.info{
    margin-top: 10%;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0 3rem 0 1rem;
}
.imagem-modal{
    padding: 0 1rem 0 3rem;
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/* Estilo para os inputs de rádio */
input[type="radio"] {
    display: none; /* Esconde o botão de rádio padrão */
  }
  
  /* Estilo para o contêiner que envolve o rótulo e a bolinha */
  .radio-container {
    display: inline-block;
    text-align: center;
    margin: 0 10px; /* Espaço entre as opções */
    cursor: pointer;
  }
  
  /* Estilo para o rótulo das opções de rádio */
  label {
    display: block;
    position: relative;
    margin-top: 5px;
    font-size: 0.8rem; 
    cursor: pointer;
  }
  
  /* Estilo para a bolinha do rádio */
  label::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 auto 5px; /* Centraliza a bolinha e cria espaço abaixo para o texto */
    border: 1px solid #000; /* Cor da borda padrão */
    border-radius: 50%; /* Torna a bolinha redonda */
  }
  
  /* Estilo para a bolinha do rádio quando a opção está selecionada */
  input[type="radio"]:checked + label::before {
    background: rgb(0, 153, 255);
    border: 3px solid #9353ff; /* Cor da borda roxa quando selecionada */
  }


.topo-modal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    height:auto;
    background-color: #000;
}
.texto-topo{
    color: #fff;
}
.orientacao-topo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.fechar-modal{
  cursor: pointer;
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 768px) {
  .produto-modal{
  flex-direction: column;
  padding: 0;
  }
  .imagem-modal{
    padding: 0;
  }

  
}