@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&family=Italiana&family=Montserrat:wght@100;200;300;400;600&display=swap');

:root {
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Italiana', sans-serif;
    --tertiary-font: 'Inter', sans-serif;
  }

html{
    font-family: 'Inter', sans-serif;
    font-family: 'Italiana', sans-serif;
    font-family: 'Montserrat', sans-serif;
}